.btn-padrao{
    background-color: #CDCDCD;
    color: white;
    font-family: roboto;
    font-size: larger;
    padding: 10px 35px;
    font-weight: 400;
    border-radius: 5px;
    margin: 50px;
    box-shadow: 2px 4px 5px #cdcdcd;
    cursor: pointer;
    text-decoration: none;
}

.btn-rosa{
    background-color: #FF0095;
}

.btn-rosa:hover{
    background-color: white;
    border: 1px solid #FF0095;
    color: #FF0095;
}

.btn-azul{
    background-color: #0051ff;
}

.btn-azul:hover{
    background-color: white;
    border: 1px solid #0051ff;
    color: #0051ff;
}

.btn-verde{
    background-color: #00ff4c;
}

.btn-verde:hover{
    background-color: white;
    border: 1px solid #00ff4c;
    color: #00ff4c;
}
